<ion-header no-border>
  <ion-toolbar color='secondary'>
    <ion-title>
      Quiz App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="text-center">
  <ion-card (click)="showCards(deck)" *ngFor="let deck of decks">
    <ion-card-header>
      <ion-card-title>{{ deck.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="secondary" class="text-center">
    <ion-button (click)="promptQuiz()" fill="outline" color="light">
      Quiz Me
      <ion-icon slot="end" name="Albums"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
